{% extends "_model.html" %}

{% block conteudo %}

    <div class="container-lg vh-100 p-5">
        <div class="row h-100">
            <div class="col-md-5 col-sm-12 d-flex flex-column justify-content-center">
                <h1 class="">Converta mais clientes com uma ferramenta poderosa e intuitiva</h1>
                <p class="lead">Crie email personalizados, segmente com precisão com automações baseadas em comportamento e segmentos e otimize com relatórios em tempo real.</p>
                <a class="btn btn-primary btn-lg w-50" href="/register/client"><p class="text-sm p-0 m-0">Cadastrar clientes</p></a>
            </div>
            <div class="col-md-7 col-sm-12 d-flex flex-column justify-content-center">
                <img src="../static/images/envioDeEmailsImg.png" alt="img-fluid">
            </div>
        </div>
    </div>
    <div class="container-lg vh-100">
        <div class="row"><h2 class="display-5 fw-bolder text-primary text-md-center">Instruções...</h2></div>
    </div>

{% endblock %}