<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saiba Mais - MailBoost</title>
    <link rel="stylesheet" href="../static/styles/learn_more.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

    <header class="bg-primary text-white p-3">
        <div class="row">
            <div class="col text-center d-flex align-items-start">
                <a href="/" class="icon-link link-light fs-1 icon-link-hover">
                    <i class="bi bi-arrow-bar-left"></i>
                </a>    
            </div>
            <div class="col-2">
                <h1>Saiba Mais</h1>
            </div>
            <div class="col"></div>
        </div>
    </header>

    <main class="container-fluid ps-5 pe-5">
        <div class="row">
            <div class="col-md-6">
                <h2>O que oferecemos?</h2>
                <p class="lead">
                    Nosso sistema de Email Marketing oferece uma solução completa para otimizar suas campanhas, alcançar novos leads e automatizar processos. 
                    Com ferramentas intuitivas e um design moderno, você pode criar campanhas personalizadas e analisar resultados detalhados.
                </p>
                <ul class="list-group list-group-numbered my-5">
                    <li class="lead list-group-item bg-light">Automação de campanhas</li>
                    <li class="lead list-group-item bg-light">Análise de métricas em tempo real</li>
                    <li class="lead list-group-item bg-light">Templates personalizados</li>
                    <li class="lead list-group-item bg-light">Integração com CRM</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="../static/images/holding-phone.svg" alt="Análise de Métricas" class="img-fluid">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <img src="../static/images/personalization.webp" alt="Personalização" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Por que escolher nosso sistema?</h2>
                <ul class="list-group list-group-numbered my-5">                    
                    <li class="lead list-group-item bg-light">Oferecemos uma plataforma poderosa com foco na automação e personalização.</li>
                    <li class="lead list-group-item bg-light">Nossa ferramenta permite que você se concentre no que mais importa: resultados.</li>
                    <li class="lead list-group-item bg-light">Personalize suas campanhas de forma rápida e fácil com nossa interface intuitiva.</li>
                </ul>
            </div>
        </div>
    </main>
    
    <div class="text-center py-5" style="background-color: #f8f9fb;">
        <a href="/" class="btn btn-primary btn-lg" style="width: 40%;">Voltar à Página Inicial</a>
    </div>

    <footer class="bg-primary py-3 text-center d-flex justify-content-center align-items-center">
        <p><strong><a class="text-decoration-none text-light" href="https://github.com/defreitassl">&copy; 2024 Douglas Freitas</a></strong></p>
    </footer>

</body>
</html>
